<div class="home-container">
  <header class="header">
    <h1>Welcome to Quick Image Tool</h1>
    <p>Effortlessly convert, resize, crop, and transform your images with ease!</p>
  </header>

  <section class="tools">
    <div class="tool" routerLink="/converter">
      <img src="assets/icons/converter.png" alt="Image Converter" />
      <h3>Image Converter</h3>
      <p>Convert images between popular formats like PNG, JPEG, and more.</p>
    </div>
    <div class="tool" routerLink="/resizer">
      <img src="assets/icons/resize.png" alt="Image Resizer" />
      <h3>Image Resizer</h3>
      <p>Resize images to your desired dimensions quickly and efficiently.</p>
    </div>
    <div class="tool" routerLink="/base64">
      <img src="assets/icons/webp.png" alt="Base64 Converter" />
      <h3>Base64 Converter</h3>
      <p>Encode or decode images to and from Base64 format.</p>
    </div>
    <div class="tool" routerLink="/cropper">
      <img src="assets/icons/crop.png" alt="Image Cropper" />
      <h3>Image Cropper</h3>
      <p>Crop your images to focus on the most important parts.</p>
    </div>
    <!-- <div class="tool" routerLink="/more-tools">
      <img src="assets/icons/tool-box.png" alt="More Tools" />
      <h3>More Tools</h3>
      <p>Explore additional tools for your image editing needs.</p>
    </div> -->
  </section>
</div>